html {
    background-color: white;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

div {
    padding-bottom: 10px;
}

main {
    padding-top: 10px;
}

form {
    margin: auto;
    /*border: 1px solid black;*/
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.pos-mid {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    margin: auto;
}


.half-section {
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.float-left {
    float: left;
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.float-right {
    float: right;
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.full-section {
    width: fit-content;
    background-color: powderblue;
    margin: auto;
}

.full-section-big {
    width: 50%;
    background-color: powderblue;
    margin: auto;
}

.center {
    text-align: center;
}

.col-1 {

}

table {
    width: 100%;
    border: 1px solid black;
}

thead {
    text-align: center;
}
.col-2 {

}
