html {
    background-color: white;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
}

form {
    margin: auto;
    width: fit-content;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.fix-size {
    resize: none;
}

.pos-mid {
    margin: auto;
}

.center {
    text-align: center;
}

.padding-vertical{
    padding-top: 5px;
    padding-bottom: 5px;
}

.styled-box {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    /*min-width: 400px;*/
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.break-word{
    word-wrap: break-word;
    text-align: left;
}

.styled-section{
    width: 60%;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.margin{
    margin: 25px;
}

