html {
    background-color: white;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

div {
    padding-bottom: 10px;
}

main {
    padding-top: 10px;
}

form {
    margin: auto;
    /*border: 1px solid black;*/
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
    float: left;
}

textarea {
    width: 350px;
    height: 300px;
    resize: none;
}

.pos-mid {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    margin: auto;
}

.half-section {
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.float-left {
    float: left;
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.float-left-only {
    float: left;
}

.float-right-only {
    float: right;
}

.float-right {
    float: right;
    height: auto;
    width: 45%;
    background-color: powderblue;
    padding: 5px;
    text-align: left;
}

.full-section-fit {
    width: fit-content;
    background-color: powderblue;
    margin: auto;
}

.full-section{
    width: 50%;
    background-color: powderblue;
    margin: auto;
}

.center {
    text-align: center;
}


table {
    width: 100%;
}

thead {
    text-align: center;
}

