<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>MyNovel</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li th:class="top-left" class="top-left"><a th:href="@{/index}">MyNovel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/new}">Add Novel</a></li>
            <li th:class="top-left" class="top-left"><a href="">Ranking</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/all}">Novel</a></li>
            <li th:class="top-right" class="top-right">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </span>
            </li>
            <li th:class="top-right" class="top-right">
                <label><a href="">Search</a></label>
            </li>
            <li th:class="top-right" class="top-right">
                <input type="text">
            </li>
        </ul>
    </nav>
</header>
<main>
    <section th:class="float-left" th:if="${novel}!=null">
        <article>
            <h2 th:class="center">Recently Read</h2>
            <div th:class="center">
                <img src="../static/images/releaseThatWitch.jpg" th:src="@{/images/releaseThatWitch.jpg}"
                     alt="release that witch" width="450px">
            </div>
            <div>
                <h1 th:text="${novel.getName()}">name</h1>
                <p th:text="'Total Chapter '+ ':'+ ${novel.getTotalChapter()}" >total chapter</p>
                <p th:text="'Rating '+ ':' +${novel.getRate()}">rate</p>
                <p th:text="'Synopsis : ' + ${novel.getDetails().getSynopsis()}">detail_synopsis</p>
                <div>
                    <span>Genre : </span>
                    <tr th:each="genre: ${novel.getDetails().getGenreList()}">
                        <td th:if="${genre.getName()!='-'}" th:text="${genre.getName()}"></td>
                    </tr>
                </div>
                <p th:text="'Status : '+ ${novel.getDetails().getStatus().getName()}"></p>
                <div>
                    <span>Source : </span>
                    <a th:text="${novel.getSource().getName()}"
                       th:href="${novel.getSource().getUrl()}"></a>
                </div>
            </div>
        </article>
    </section>
    <section th:class="float-right">
        <article>
            <h2 th:class="center">Update</h2>
        </article>
    </section>
    <!--login/logout -->
<!--    <section>-->
<!--        <div>-->
<!--            <sec:authentication property="principal.username" />-->
<!--        </div>-->
<!--    </section>-->
</main>
</body>
</html>