<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li th:class="top-left" class="top-left"><a href="index">MyNovel</a></li>
            <li th:class="top-left" class="top-left"><a href="new" th:href="new">Add Novel</a></li>
            <li th:class="top-left" class="top-left"><a href="">Ranking</a></li>
            <li th:class="top-left" class="top-left"><a href="all">Novel</a></li>
            <li th:class="top-right" class="top-right">
                <div sec:authorize="isAuthenticated()" >
                    <a th:href="@{/logout}">Logout</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a href="login">Login</a>
                </div>
            </li>
            <li th:class="top-right" class="top-right">
                <label><a href="">Search</a></label>
            </li>
            <li th:class="top-right" class="top-right">
                <input type="text">
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <form th:action="@{/register}" method="post" th:object="${user}">
            <div>
                <label>Firstname</label>
                <input type="text" required th:field="*{firstName}">
            </div>
            <div>
                <label>Lastname</label>
                <input type="text" required th:field="*{lastName}">
            </div>
            <div>
                <label>Email</label>
                <input type="text" required th:field="*{email}">
            </div>
            <div>
                <label>Password</label>
                <input type="password" required th:field="*{password}">
            </div>
            <div>
                <input type="submit" value="submit">
                <a href="/login" th:href="@{/login}">Login</a>
            </div>
        </form>
    </section>
</main>

</body>
</html>