<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li th:class="top-left" class="top-left"><a th:href="@{/index}">MyNovel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/new}">Add Novel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/all}">Novel</a></li>
            <li th:class="top-right" class="top-right">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </span>
            </li>
            <form method="post" th:action="@{/search}" >
                <li th:class="top-right" class="top-right">
                    <button type="submit">Search</button>
                </li>
                <li th:class="top-right" class="top-right">
                    <input type="text" name="novelName">
                </li>
            </form>
        </ul>
    </nav>
</header>
<main>
    <div th:class="styled-box">
        <div th:class="margin">
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div th:class="center">
                    <h2>Register</h2>
                </div>
                <div th:class="padding-vertical">
                    <label>Firstname</label>
                    <input type="text" required th:field="*{firstName}">
                </div>
                <div th:class="padding-vertical">
                    <label>Lastname</label>
                    <input type="text" required th:field="*{lastName}">
                </div>
                <div th:class="padding-vertical">
                    <label>Email</label>
                    <input type="text" required th:field="*{email}">
                </div>
                <div th:class="padding-vertical">
                    <label>Password</label>
                    <input type="password" required th:field="*{password}">
                </div>
                <div th:class="padding-vertical">
                    <div th:class="center">
                        <input type="submit" value="submit">
                        <a href="/login" th:href="@{/login}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>