<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>AllNovel</title>
  <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
  <nav>
    <ul>
      <li th:class="top-left" class="top-left"><a th:href="@{/index}">MyNovel</a></li>
      <li th:class="top-left" class="top-left"><a th:href="@{/new}">Add Novel</a></li>
      <li th:class="top-left" class="top-left"><a th:href="@{/all}">Novel</a></li>
      <li th:class="top-right" class="top-right">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
        <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </span>
      </li>
      <form method="post" th:action="@{/search}" >
        <li th:class="top-right" class="top-right">
          <button type="submit">Search</button>
        </li>
        <li th:class="top-right" class="top-right">
          <input type="text" name="novelName">
        </li>
      </form>
    </ul>
  </nav>
</header>
<main>
  <section th:class="full-section">
    <article>
      <h2 th:class="center">All Novel</h2>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Rate</th>
          <th>Total Chapter</th>
        </tr>
        </thead>
        <tbody th:each="eachNovel: ${searchList}">
        <td th:class="center">
          <a th:href="@{'/all/' + ${eachNovel.getId()}}">
            <span th:text="*{eachNovel.getName()}"></span>
          </a>
        </td>
        <td th:class="center">
          <span th:text="*{eachNovel.getRate()}"></span>
        </td>
        <td th:class="center">
          <span th:text="*{eachNovel.getTotalChapter()}"></span>
        </td>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>