<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>ShowOneNovel</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li th:class="top-left" class="top-left"><a th:href="@{/index}">MyNovel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/new}">Add Novel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/all}">Novel</a></li>
            <li th:class="top-right" class="top-right">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </span>
            </li>
            <form method="post" th:action="@{/search}" >
                <li th:class="top-right" class="top-right">
                    <button type="submit">Search</button>
                </li>
                <li th:class="top-right" class="top-right">
                    <input type="text" name="novelName">
                </li>
            </form>
        </ul>
    </nav>
</header>
<main>
        <div th:class="oneNovel-section">
            <div th:class="margin">
                <h2 th:class="center" th:text="${novel.getName()}">name</h2>
                <div th:class="center">
                    <img src="../static/images/releaseThatWitch.jpg" th:src="@{${novel.getPhotosImagePath()}}"
                         alt="cover picture" width="450px">
                </div>
                <div>
                    <p th:text="'Total Chapter : ' + ${novel.getTotalChapter()}"></p>
                    <p th:text="'Rating :' + ${novel.getRate()}"></p>
                    <div th:class="break-word">
                        <div th:text="'Synopsis : ' + ${novel.getDetails().getSynopsis()}">
                        </div>
                    </div>
<!--                    <p th:text="'Synopsis : ' + ${novel.getDetails().getSynopsis()}"></p>-->
                    <div>
                        <span>Tag : </span>
                        <tr th:each="genre: ${novel.getDetails().getGenreList()}">
                            <td th:if="${genre.getName()!='-'}" th:text="${genre.getName()}"></td>
                        </tr>
                    </div>
                    <p th:text="'Status : ' + ${novel.getDetails().getStatus().getName()}"></p>
                    <div>
                        <span>Source : </span>
                        <a th:href="${novel.getSource().getUrl()}"
                           th:text="${novel.getSource().getName()}"></a>
                    </div>
                </div>
                <div>
                    <a th:href="@{'/all/' + ${novel.getId()} + '/update'}"><input type="button" value="Update"></a>
                </div>
            </div>
        </div>
</main>
</body>
</html>