<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>new</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li th:class="top-left" class="top-left"><a th:href="@{/index}">MyNovel</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/new}">Add Novel</a></li>
            <li th:class="top-left" class="top-left"><a href="">Ranking</a></li>
            <li th:class="top-left" class="top-left"><a th:href="@{/all}">Novel</a></li>
            <li th:class="top-right" class="top-right">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </span>
            </li>
            <li th:class="top-right" class="top-right">
                <label><a href="">Search</a></label>
            </li>
            <li th:class="top-right" class="top-right">
                <input type="text">
            </li>
        </ul>
    </nav>
</header>
<main>
    <section th:class="full-section">
        <form th:action="@{'/all/' + ${oldNovelDto.getNovel().getId()} + '/update'}"
              th:object="${oldNovelDto}" method="post">
            <h2 th:class="center">Update novel</h2>
            <div>
                <label>Name</label>
                    <input type="text" required th:name="name"
                           th:value="${oldNovelDto.getName()}"/>
            </div>
            <div>
                <label>Total Chapter</label>
                <input type="text" th:name="totalChapter"
                       required th:value="${oldNovelDto.getTotalChapter()}">
            </div>
            <div>
                <label>Rating</label>
                <input type="text" th:name="rate" required th:value="${oldNovelDto.getRate()}">
            </div>
            <div>
                <label>Synopsis</label>
                <textarea th:name="synopsis"
                          th:text="${oldNovelDto.getSynopsis()}" required></textarea>
            </div>
            <div>
                <label>Genre</label>
                <span th:each="genre, itemStat : *{genreList}">
                    <select th:field="*{genreList[__${itemStat.index}__].name}">
                        <option th:each="genreEach:${genreSelect}"
                                th:value="${genreEach.getName()}"
                                th:text="${genreEach.getName()}"></option>
                    </select>
                </span>
            </div>
            <div>
                <label>Source</label>
                <input type="text" th:name="sourceName"
                       required th:value="${oldNovelDto.getSourceName()}">
            </div>
            <div>
                <label>Url</label>
                <input type="url" th:name="sourceUrl"
                       required th:value="${oldNovelDto.getSourceUrl()}">
            </div>
            <div>
                <label>Status</label>
                <select th:name="status">
                    <option th:each="statusEach:${statusSelect}"
                            th:value="${statusEach.getName()}"
                            th:utext="${statusEach.getName()}"></option>
                </select>
            </div>
            <div>
                <input type="submit" value="submit">
            </div>
        </form>
    </section>
</main>
</body>
</html>